@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
body{
	background-color:whitesmoke;
	background-image: url(/tonyas-game/assets/Pink.jpg);
	font-family: Arial, Helvetica, sans-serif;
}

.box{
    font-family: 'Ranchers', cursive;
    font-size: 9rem;
	letter-spacing: 1rem;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('/tonyas-game/assets/lemon.png');
	
}
#btn2, #btn3, #btn4, #btn5, #btn6, #btn7{
	width: 100px;
	height: 100px;
	color: white;
	font-size: 1rem;
	margin: 5px;
	border-color:rgb(214, 82, 199);
	border-radius: 20px;
	background-color:rgb(206, 125, 228);
}